.navbar{
    background-image: url(https://cdn.dribbble.com/users/747319/screenshots/2484221/music-app-icon.png);
    background-position: -55%;
    color:black;
    text-align: center;
      min-height: 2vh;
  display: flex;
  justify-content: center;
}
.musicspan{
    font-size: 40px;
    color:rgb(210, 214, 209);
}
.planetspan{
    font-size: 40px;
    color:rgb(226, 220, 220);
    
}